<div *ngIf="allowchange">
    <br>
    <form id="myform" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="ui form" style="color:black">
        <h4 class="ui dividing header">Ticket {{ticket.id}} information</h4>
        <div class="two fields">
            <div class="field">
                <label>Flight number</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="number" [(ngModel)]="ticket.flightNumber" #number="ngModel" [ngClass]="{ 'is-invalid': f.submitted && number.invalid }" required/>
                    <div *ngIf="f.submitted && number.invalid">
                        <div *ngIf="number.errors.required" class="ui pointing red basic label" style="width:100%">
                            Input flight number
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Ticket price</label>
                <div class="form-group">
                    <input type="number" class="form-control" name="price" placeholder="{{ticket.price}}" [(ngModel)]="ticket.price" #price="ngModel" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" required/>
                    <div *ngIf="f.submitted && price.invalid">
                        <div *ngIf="price.errors.required" class="ui pointing red basic label" style="width:100%">
                            Input price
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <div><a href="./menu/tickets"><button class="ui left labeled icon button">
        <i class="left arrow icon"></i>
        Back to list
      </button></a>
        <input class="ui green button" (click)="ticketSaveUpdates(ticket['id'],ticket)" type="submit" value="Save" form="myform" />
    </div>
</div>

<div *ngIf="!allowchange" class="ui items">
    <div class="ui raised card">
        <div class="ui top attached label">Ticket id: {{ticket['id']}}</div>
        <div class="content">
            <a href="/menu/tickets/{{ticket.id}}" class="center aligned header">Flight number: {{ticket['flightNumber']}}</a>
            <div class="center aligned meta">
                <span class="date">Price: {{ticket['price']}}</span>
            </div>
        </div>
        <div class="center aligned buttons">
            <a href="./menu/tickets"><button class="ui left labeled icon button">
                    <i class="left arrow icon"></i>
                    Back to list
                  </button></a>
            <div class="ui primary button" (click)="onUpdateClick()">Update</div>
        </div>
    </div>
</div>