<p>
    pilots-list works!
</p>

<div class="ui container" style="margin-top:70px; margin-bottom:10px;">
    <button class="ui primary button" (click)="pilotCreate(pilot.id)"> create </button>

    <div class="ui three stackable cards">
        <div class="ui card" *ngFor="let pilot of pilots">
            <div class="content">
                <a href="#" class="header">{{pilot.firstName}} {{pilot.lastName}}</a>
                <div class="meta">
                    <span class="date">Experince: {{pilot.experience}}</span>
                </div>
            </div>
            <div class="extra content">
                <button class="ui primary button" (click)="pilotDelete(pilot.id) ">delete</button>
                <button class="ui primary button" (click)="pilotUpdate(pilot.id)"> update </button>
            </div>
        </div>
    </div>
</div>