<div *ngIf="allowchange">
    <br>
    <form id="myform" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="ui form" style="color:black">
        <h4 class="ui dividing header">Pilot {{pilot.id}} creation</h4>
        <div class="three fields">
            <div class="field">
                <label>Firstame</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="firstname" placeholder="Firstame" [(ngModel)]="pilot.firstName" #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }" required/>
                    <div *ngIf="f.submitted && firstname.invalid">
                        <div *ngIf="firstname.errors.required" class="ui pointing red basic label" style="width:100%">
                            Input Firstname
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Lastname</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastname" placeholder="Lastname" [(ngModel)]="pilot.lastName" #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }" required/>
                    <div *ngIf="f.submitted && lastname.invalid">
                        <div *ngIf="lastname.errors.required" class="ui pointing red basic label" style="width:100%">
                            Input Lastname
                        </div>
                    </div>
                </div>

            </div>
            <div class="field">
                <label>Expirience</label>
                <div class="form-group">
                    <input type="number" class="form-control" name="exp" placeholder="Expirience" [(ngModel)]="pilot['experience']" #exp="ngModel" [ngClass]="{ 'is-invalid': f.submitted && exp.invalid }" required pattern="^[1-9][0-9]?$|^100$" />
                    <div *ngIf="f.submitted && exp.invalid">
                        <div *ngIf="exp.errors" class="ui pointing red basic label" style="width:100%">
                            Input Expirience
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <div><a href="./menu/pilots"><button class="ui left labeled icon button">
                <i class="left arrow icon"></i>
                Back to list
              </button></a>
        <input class="ui green button" (click)="pilotSaveUpdates(pilot['id'],pilot)" type="submit" value="Save" form="myform" />
    </div>
</div>

<div *ngIf="!allowchange" class="ui cards">
    <div class="ui raised card">
        <div class="ui top attached label">Pilot id: {{pilot['id']}}</div>
        <div class="content">
            <a href="/menu/pilots/{{pilot.id}}" class="center aligned header">{{pilot['firstName']}} {{pilot['lastName']}}</a>
            <div class="center aligned meta">
                <p class="date">Expirience: {{pilot['experience']}}</p>
            </div>
        </div>
        <div class="center aligned buttons">
            <a href="./menu/pilots"><button class="ui left labeled icon button">
                            <i class="left arrow icon"></i>
                            Back to list
                          </button></a>
            <div class="ui primary button" (click)="onUpdateClick()">Update</div>
        </div>
    </div>
</div>