<h1 class="ui center aligned header">
    Tickets list
    <div class="sub header">
        <button class="ui green button" (click)="ticketCreate()" style="width:100%;"> Create new ticket </button>
    </div>
</h1>



<div class="ui container" style=" margin-bottom:10px;">
    <div class="ui three doubling cards">
        <div class="ui raised fluid card" *ngFor="let ticket of tickets">
            <div class="ui top attached label">Ticket id: {{ticket['id']}}</div>
            <div class="content">
                <a href="/menu/tickets/{{ticket.id}}" class="center aligned header">Flight number: {{ticket['flightNumber']}}</a>
                <div class="center aligned meta">
                    <span class="date">Price: {{ticket['price']}}</span>
                </div>
            </div>
            <button class="ui red bottom attached button" (click)="ticketDelete(ticket['id'])">Delete</button>
        </div>
    </div>
</div>