<h1 class="ui center aligned header">
    Stewardess list
    <button class="ui green button" (click)="creatingProcess()" style="width:100%; height: 45px;">Сreate new stewardess </button>

</h1>
<form *ngIf="creating" id="myform" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="ui form" style="color:black">
    <h4 class="ui dividing header">Stewardess creation</h4>
    <div class="three fields">
        <div class="field">
            <label>Firstname</label>
            <div class="form-group">
                <input type="text" class="form-control" name="model" placeholder="Firstname" [(ngModel)]="stewardessCreating.firstName" #model="ngModel" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }" required/>
                <div *ngIf="f.submitted && model.invalid">
                    <div *ngIf="model.errors.required" class="ui pointing red basic label" style="width:100%">
                        Input Firstname
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Lastname</label>
            <div class="form-group">
                <input type="text" class="form-control" name="places" placeholder="Lastname" [(ngModel)]="stewardessCreating.lastName" #places="ngModel" [ngClass]="{ 'is-invalid': f.submitted && places.invalid }" required/>
                <div *ngIf="f.submitted && places.invalid">
                    <div *ngIf="places.errors.required" class="ui pointing red basic label" style="width:100%">
                        Input Lastname
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Birthday</label>
            <div class="form-group">
                <input type="date" class="form-control" name="carrying" placeholder="Birthday" [(ngModel)]="stewardessCreating.dateOfBirth" #carrying="ngModel" [ngClass]="{ 'is-invalid': f.submitted && carrying.invalid }" />
                <div *ngIf="f.submitted && carrying.invalid">
                    <div *ngIf="carrying.errors.required" class="ui pointing red basic label" style="width:100%">
                        Input date
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input class="ui green button" (click)="stewardessCreate(stewardessCreating)" type="submit" value="Save" form="myform" style="width: 100%;" />
</form>


<div class="ui container " style=" margin-bottom:10px; margin-top:20px; ">
    <div class="ui three doubling cards ">
        <div class="ui raised fluid card " *ngFor="let stewardess of stewardesses ">
            <div class="ui top attached label ">Stewardess id: {{stewardess['id']}}</div>
            <div class="content ">
                <a href="/menu/stewardesses/{{stewardess.id}} " class="center aligned header ">{{stewardess['firstName']}} {{stewardess['lastName']}}</a>
                <div class="center aligned meta ">
                    <span class="date ">Birthday: {{stewardess['dateOfBirth'].slice(0,10)}}</span>
                </div>
            </div>
            <button class="ui red bottom attached button " (click)="stewardessDelete(stewardess['id']) ">Delete</button>
        </div>
    </div>
</div>