<p>
    stewardess-list works!
</p>

<div class="ui container" style="margin-top:70px; margin-bottom:10px;">
    <button class="ui primary button" (click)="pilotCreate(pilot.id)"> create </button>

    <div class="ui four stackable cards">
        <div class="ui card" *ngFor="let stewardess of stewardesses">
            <div class="content">
                <a href="#" class="header">{{stewardess.firstName}} {{stewardess.lastName}}</a>
                <div class="meta">
                    <span class="date">Date of birth: {{stewardess.dateOfBirth}}</span>
                </div>
            </div>
            <div class="extra content">
                <button class="ui primary button" (click)="pilotDelete(pilot.id) ">delete</button>
                <button class="ui primary button" (click)="pilotUpdate(pilot.id)"> update </button>
            </div>
        </div>
    </div>
</div>