a {
    color: white;
}

a:hover {
    color: blue;
    background-color: gray;
}

.ui.blue.fixed.inverted.menu .ui.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contentMain {
    min-height: calc(100vh - 50px);
}

.footer {
    height: 50px;
}