<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />


<body>
    <div class="contentMain">
        <div class="ui inverted blue stackable  menu">
            <div class="item">
                <i class="big paper plane icon"></i> </div>
            <a class="item">Flights</a>
            <a class="item">Planes</a>
            <a class="item">Types</a>
            <a class="item">Departures</a>
            <a class="item">Tickets</a>
            <a class="item">Pilots</a>
            <a class="item">Stewardesses</a>
            <a class="item">Crews</a>
        </div>

        <div class="ui container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui horizontal inverted small divided link list">
                By Tymchenko Oleksii for BSA2018
            </div>
        </div>
    </div>


</body>